
.App {
  text-align: center;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   
}

.fade-in-text {
  animation: fadeIn infinite alternate ease 2s;  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App-header {
  background-color: #ff5e0e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: 'Bebas Neue', cursive;
}